@media screen and (max-width: 650px) {

main{
  width:360px;
}

#headertext{
  display: none;
}

.container .image img{
  width: 300px;
  margin-left: -30px;
}

.image {
  width:300px;
  z-index: -5;
  margin-bottom: 30px;
  margin-left: 30px;
  /*box-shadow: .2px .2px 20px #000;*/
  transition: all 300ms linear 0s;
}

#arrowright{
margin-left: 400px;
 margin-top: -23px;
  transform: rotate(9deg);
}

#arrowleft{
margin-left: 260px;
  margin-top: 20px;
  transform: rotate(9deg);
}

#headertextmobile{
  display: none;
font-size: 20px;
transform:rotate(0deg);
padding-top: 108px;
padding-left: 100px;
color: 	#fff;
font-family: 'Raleway', sans-serif;
}

#image1{
  margin-top: 245px;
  padding-left: 110px;
  transform: rotate(12deg);
}

body{
  background-color: #8ba9b1;
  position: absolute;
  width: 360px;
  margin: 0;
  padding: 0;
}

#blocktext{
padding-left: 220px;
padding-top: 120px;
color: #fff;
font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  transform: rotate(-3deg);
}

#maintext{
padding-left: 130px;
padding-top: 400px;
color: #fff;
font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

#footertext{
padding-left: 80px;
padding-top: 20px;
color: #fff;
font-size: 30px;
transform: rotate(9deg);
  font-family: 'Source Sans Pro', sans-serif;
}

	#block{
    display: none;
      width:450px;
      height:200px;
      top:100px;
      right: -20px;
      background-color: #da635d;
      transform: rotate(3deg);
      box-shadow: 4px -9px 66px -2px rgba(0,0,0,1);
	}


  #footext{
    display:none;
  }

  #text{
  /*  display: none;*/
  color: #fff;
margin-top: 50px;
    width:300px;
    padding: 30px;
  }


  iframe{
    width:320px;
    height:186px;
  }

  footer{
    background-color: #da635d;
    width:500px;
  height:190px;
margin-top: 150px;
position: fixed;
        transform: rotate(-9deg);
  box-shadow: 4px 17px 66px 9px rgba(0,0,0,0.90);
}
header{
    left:-370px;
    top:-540px;
    display:  ;
    background-color: #444;
    transform: rotate(-12deg);
    box-shadow: 4px -9px 66px 6px rgba(0,0,0,2);

  }
  aside{
    display: none;
    top:-25px;
    right: -10px;
    padding-left: 30px;
    padding-top: 20px;
    z-index: 10;
  }

  nav{
      display: none;
}
  .container {
    width: 320px;
  }
}
